.stats-item {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1% auto;
}

.stats-item:nth-child(odd) {
    background-color: #273f96;
}

.stats-item:nth-child(even) {
    border-top: .5px solid rgb(14, 14, 65);
    border-bottom: .5px solid rgb(14, 14, 65);
}

.stats-item:last-child {
    border-bottom: none;
}

.stats-item p {
    margin: 0 1%;
    text-align: center;
    width: 10%;
}

.stats-item .description {
    width: 38%;
}

.stats-item .ind {
    max-width: 2%;
    text-align: left;
    margin: auto 1%;
}


.stats-item img {
    width: 32px;
    margin: 0 2%;
}

.stats-item .time {
    margin-right: 0;
}