body {
  background-color: #1D2F6F;
  font-family: Arial, Helvetica, sans-serif;
  color: #F9E9EC;
  margin: auto;
  width: 50%;

}

a {
  color: #F88DAD;
}

html {
  /* overflow-y: hidden; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}